body {
    margin: 0;
    background-color: /*#B2B0B0*/
    #F99E1A;
    overflow-x: hidden;
}

.container-stats {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 1117px;
}

.hero-stats {
    width: 682px;
    height: 240px;
    border-radius: 2px;
    /*border: 2px solid black;*/
    float: left;
    margin: 11px;
    background-color: white;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.34);
}

.hero-card {
    border-bottom: 1px solid black;
    box-sizing: border-box;
    height: 123px;
}

.hero-avatar {
    width: 112px;
    height: 100px;
    border-radius: 25px;
    padding: 11px;
    float: left;
}

.hero-name {
    float: left;
    padding: 27px 10px 10px 10px;
    font-family: italoverfont;
    font-size: 32px;
}

.kill, .Elimination-Average, .Deaths-Avrg, .DamageDone-Avrg,
.FinalBlows-Avrg, .ObjectiveTime-Avrg, .ObjectiveKills-Avrg,
.WeaponKill-Avrg, .SelfHealing-Avrg, .HealingDone-Avrg,
.UltimCapa-Avrg, .OffAssist-Avrg, .DefAssist-Avrg {
    width: 93px;
    height: 39px;
    /*border: 1px solid black;*/
    margin: 9px;
    float: left;
    font-family: overfont;
}

.Avrg {
    font-size: 18px;
    text-align: center;
}

.azer {
    width: 370px;
    height: 700px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    /*border: 1px solid black;*/
}

.global-stats {
    width: 724px;
    float: left;
    height: 1143px;
    /*border: 1px solid black;*/
    padding-left: 15;
    margin-left: 13px;
}

.play-time {
    padding: 27px 28px 10px 10px;
    float: right;
    font-family: overfont;
}

.win-loss {
    padding: 27px 10px 10px 10px;
    float: right;
    font-family: overfont;
}

.Medals {
    padding: 27px 10px 10px 10px;
    float: right;
    font-family: overfont;
}

footer {
    /*border:1px solid black;*/
    height: 200px;
    width: 100%;
    float: left;
    background-color: #43484C;
}

.hero-best-perform {
    width: 348px;
    /*height: 325px;*/
    border-radius: 2px;
    /* border: 2px solid black; */
    float: left;
    margin: 11px;
    background-color: white;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.34);
}

.align-center {
    /* padding: 0px 0px 0px 0px; */
    text-align: center;
    font-size: 39px;
    margin-top: 11px;
    margin-bottom: 0px;
    font-family: overfont;
}

.ligne {
    height: 25px;
    display: flex;
}

.title, .value {
    width: 174px;
    /*border: 1px solid black;*/
    font-size: 12px;
    padding-left: 12px;
    font-family: overfont;
    font-size: 18px;
}

.value {
    text-align: center;
}

h2 {
    font-family: overfont;
    font-size: 40px;
    text-shadow: 4px 2px #4B4C4E;
    color: white;
}

.rbrq {
    color: white;
    background-color: #4B4C4E;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    font-family: italoverfont;
    font-size: 21px;
}


/*hr {
  margin-top: 0px;
  margin-bottom: 0px
}*/

@media (max-width: 1126px) {
    .container-stats {
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;
        width: 1117px;
    }
    .hero-stats {
        width: 93%;
        height: 240px;
        border-radius: 2px;
        /* border: 2px solid black; */
        float: left;
        margin: 11px;
        background-color: white;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.34);
    }
    .kill, .Elimination-Average, .Deaths-Avrg, .DamageDone-Avrg,
    .FinalBlows-Avrg, .ObjectiveTime-Avrg, .ObjectiveKills-Avrg,
    .WeaponKill-Avrg, .SelfHealing-Avrg, .HealingDone-Avrg,
    .UltimCapa-Avrg, .OffAssist-Avrg, .DefAssist-Avrg {
        width: 13%;
        height: 39px;
        /*border: 1px solid black;*/
        margin: 9px;
        float: left;
        font-family: overfont;
    }
    .Avrg {
        font-size: 16px;
        text-align: center;
    }
    .global-stats {
        width: 63%;
    }

}
@media (max-width: 1087px) {
  .container-stats {
      margin-left: auto;
      margin-right: auto;
      padding-left: 10px;
      padding-right: 10px;
      width: 949px;
    }

    .hero-stats {
        width: 90%;
        height: 240px;
        border-radius: 2px;
        /* border: 2px solid black; */
        float: left;
        margin: 11px;
        background-color: white;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.34);
    }
    .kill, .Elimination-Average, .Deaths-Avrg, .DamageDone-Avrg,
    .FinalBlows-Avrg, .ObjectiveTime-Avrg, .ObjectiveKills-Avrg,
    .WeaponKill-Avrg, .SelfHealing-Avrg, .HealingDone-Avrg,
    .UltimCapa-Avrg, .OffAssist-Avrg, .DefAssist-Avrg {
        width: 13%;
        height: 39px;
        /*border: 1px solid black;*/
        margin: 9px;
        float: left;
        font-family: overfont;
    }
    .Avrg {
        font-size: 15px;
        text-align: center;
    }
    .global-stats {
        width: 58%;
        margin-left: 1px;
    }
}

@media(max-width: 923px) {
  .container-stats {
      margin-left: inherit;;
      margin-right: 5%;
      padding-left: inherit;
      padding-right: inherit;
      width: inherit;
    }

    .hero-stats {
        width: 100%;
        height: 240px;
        border-radius: 2px;
        /* border: 2px solid black; */
        float: left;
        margin: 11px;
        background-color: white;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.34);
    }

    .global-stats {
        width: 100%;
        margin-left: 6px;
    }

    .hero-best-perform {
        width: 100%;
        /*height: 325px;*/
        border-radius: 2px;
        /* border: 2px solid black; */
        float: left;
        margin: 11px;
        background-color: white;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.34);
    }

      .azer {
        width: 100%;
        height: 630px;
        float: left;
        margin-left: 5px;
        margin-right: 5px;
        /* border: 1px solid black; */
      }

    .title, .value {
      width: 100%;
      padding-left: 31px;
    }

}
